body {
  font-family: 'Montserrat', sans-serif;
  background: $blue-dark;
  margin: 0;
  color: white;
  font-weight: 500;
  scroll-snap-type: y mandatory;

}
.scrollChild{
  scroll-snap-align: start;
  scroll-padding: 70px;
}

h3 {
  font-weight: 500;
  letter-spacing: 6px;
}

h2 {
  font-weight: 500;
}

p {
  @extend .font-size--16;
  color: $grey-p;
  line-height: 2.25;
}

.bg {
  background-image: url(https://picsum.photos/g/1000/900);
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;

  background-color: $grey-light;
}

.nav-bar {
  width: 80%;
  min-width: 1100px;
  padding-top: 95px;
  padding-bottom: 150px;
  margin: auto;
}

.social-logo {
  cursor: pointer;
  width: 41px;
  margin-right: 20px;
}

.valuer-logo {
  cursor: pointer;
  width: 240px;
}

.gradient {
  height: 100%;
  background-image: linear-gradient(rgba(35, 37, 49, 0.9), rgba(0, 0, 0, 0.9));
}

.one-in-line {
  flex: 0 1 100%;
}

.intro-content-box {
  margin: auto;
  width: 55%;
  min-width: 900px;
}

.main-header {
  font-weight: 500;
  line-height: 0.33;
  @extend .l-s-12;
  @extend .color-grey-red;
  @extend .font-size--48;
}

.content-box {
  margin: 70px auto;
  width: 70%;
  min-width: 1000px;
  display: flex;
  flex-wrap: wrap;
}

.content-box-title {
  position: relative;
  width: 40%;
  h2 {
    @extend .font-size--36;
    @extend .l-s-7;
  }
}

.red-line {
  background: $grey-red;
  position: absolute;
  height: 5px;
  width: 63px;
  left: -30px;
}

.grey-box {
  width: 438px;
  height: 544px;
  background-color: $grey-normal;
  position: relative;
  h2 {
    position: absolute;
    left: 350px;
    width: max-content;
    @extend .font-size--48;
    @extend .l-s-14
  }
}

.content-box-text {
  width: 60%;
}

.content-box-img {
  width: 100%;
  height: 450px;
  overflow: hidden;
  position: relative;
  background: url("https://picsum.photos/400/400") center no-repeat;
  background-size: cover;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $blue-dark;
    opacity: 0.9;
  }
  .img-title {
    bottom: 0;
    right: 10px;
    position: absolute;
    h2 {
      @extend .l-s-5;
      text-align: right;
    }
  }
}

.box-text {
  width: 550px;
  p {
    @extend .font-size--16;
    font-weight: normal;
    line-height: 2.25;
  }
}

.box-text-follow {
  display: flex;
  align-items: center;
}

.schedule-box {
  h2 {
    @extend .l-s-7;
    @extend .font-size--36;
  }
  h3 {
    @extend .l-s-2;
    margin: 30px 0;
    font-weight: 600;
  }
}

.getTicket {
  padding: 81px 55px;
  width: 100%;
  border: 1px solid $grey-normal;
  display: flex;
  align-items: center;
  justify-content: center;
  h2 {
    font-weight: 100;
    @extend .font-size--36;
  }
  button {
    margin-left: auto;
  }
}